/* ** Styling For All Pages ** */

*{
    margin: 0
}

img { 
    height: 55vh;
    width: 100%
}

h1{
    font-size: 60px;
    font-family: AmaticB;
}

p, h2{
    font-size: 18px;
    font-family: KalamL;
}

h6{
    display: inline;
    display: none;
    font-size: 20px;
    color: white;
}


/* ** Inported fonts ** */

@font-face{
    font-family: AmaticB;
    src: url(./fonts/AmaticSC-Bold.ttf);
}

@font-face{
    font-family: AmaticR;
    src: url(./fonts/AmaticSC-Regular.ttf)
}

@font-face{
    font-family: AmaranthI;
    src: url(./fonts/Amaranth-RegularItalic.ttf)
}

@font-face{
    font-family: KalamR;
    src: url(./fonts/Kalam-Regular.ttf)
}

@font-face{
    font-family: KalamL;
    src: url(./fonts/Kalam-Light.ttf)
}


/* ** dropDown Styling ** */

.dropDown-false{
    height: 150px;
    background-color: rgb(148, 1, 1);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    width: 100vw;
    color: white;
    top: -200px;
    transition: all;
    display: none
}

.dropDown-true{
    height: 150px;
    background-color: rgb(148, 1, 1);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    width: 100vw;
    color: white;
    transition: all
}

.dropLink{
    text-decoration: none;
    margin-right: 35px;
    color: rgb(255, 255, 255);
}

.darken-true{
    z-index: 3000;
    position: fixed;
   height: 100vh;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.452);
   overflow: hidden;
   margin-top: 150px;
}
/* ** Nav Bar Styling ** */

nav{
    background-image: linear-gradient(rgb(218, 0, 0), rgb(90, 0, 0));
    margin-bottom: 3px;
    box-shadow: 0 3px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 10vh;
    z-index: 100;
    min-width: 315px;
    font-family: AmaticB;
    width: 100%;
    position: fixed
}

.logo{
    color: white;
    margin-left: 10px
}

.navIcon{
    margin-left: 2px;
}

.contact{
    display: flex;
    color: rgb(255, 255, 255);
}

.contactInfo{
    margin-left: 12px;
    font-size: 20px
}

.linkDiv{
    text-decoration: none;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    margin-left: 5px;
}

.hamburger{
    display: none;
}

.homeNav>a,h6{
    display: none;
}

.contact>h6{
    display: none;
}


/* ** Home Page Styling ** */

.homeDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    min-height: 90vh;
    background-image: linear-gradient(rgb(0, 150, 55), rgb(1, 43, 16));
    color: rgb(255, 255, 255);
    min-width: 373px;
    font-family: AmaticR;
    padding-top: 10vh
}

.carouseldiv {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.863)
}

.carousel {
    width: 60vw; 
}

.homeText{
    margin: 20px;
}

.homeButton{
    background-color: rgba(1, 100, 37, 0); 
    color: white;
    font-family: AmaticB;
    font-size: 30px;
    outline: 0; 
    margin: 5px;
}


/* ** Footer Styling ** */

.footer{
    background-image: linear-gradient(rgb(56, 56, 56), black);
    color: white;
    height: 200px;
    width: 100%;
    /* min-width: 373px; */
    margin: auto;
    overflow: hidden;
}

.footerDiv{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.footerText{
    margin-bottom: 10px;
    font-family: KalamL;
}
/* ** Menu styling ** */

.menuDiv{
    background-image: linear-gradient(rgb(0, 105, 39), rgb(0, 80, 29));
    color: white;
    min-height: 90vh;
    padding-top: 10vh;
}

.mobileCart{
    display: none
}

.menuSorter{
    display: flex;
    justify-content: space-evenly; 
    padding-top: 10px;
    text-align: center;
}

.noGetSize{
    margin-top: 15px;
    font-family: AmaticB;
}
.menueInstruct{
    margin-top: 5px;
    font-family: AmaticB;
}

.sizePiont{
    transform: rotate(-135deg)
}

.sortButton{
    background-color: rgba(1, 100, 37, 0); 
    color: white;
    font-family: AmaticB;
    font-size: 30px;
    outline: 0; 
    margin: 5px;
}

.sortButton:hover{
    background-color: rgb(153, 0, 0);
}

.formInstruct{
    font-family: AmaticB;
}

.menuInput{
    width: 61px;
    margin-right: 10px;
    text-align: right;
    direction: rtl important;
}

.buget{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.bugetButton{
    background-color: rgb(0, 104, 38);;
    color: white;
    font-family: AmaticB;
    font-size: 23px;
    outline: 0 ;
}

.bugetButton:hover{
    background-color: rgb(153, 0, 0);
}

.menuGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    margin-right: 15px;
}

.noResults{
    font-family: AmaticB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.mappedTitle{
    margin-top: 20px;
    width: 300px;
    margin-left: 25px;
    font-size: 45px
}

.mappedDiv{
    display: flex;
}

.tint{
    background-color: rgba(128, 128, 128, 0.363);
    height: 100%;
    width: 100%;
}

.tint:hover{
    background-color: unset;
}

.pizzaImg{
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 40px;
    transition: all 1s
}

.pizzaImg:hover{
    height: 350px;
    width: 350px;
    transition: all 1s
}

.mappedDescription{
    margin-top: 40px;
    margin-left: 25px;
}

.mappedSize{
    margin-top: 20px;
    margin-left: 25px;
    font-family: AmaranthI;
}

.menuOrderButton{
    display: flex;
    flex-direction: column;
}

.orderButton{
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgba(0, 104, 38, 0); 
    font-family: AmaticB;
    color: white;
    font-size: 30px;
    outline: 0 
}

.orderButton:hover{
    background-color: rgb(153, 0, 0);
}

.spacerText{
    font-family: AmaticB;
    font-size: 20px;
}

.addToCart{
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgba(0, 104, 38, 0); 
    font-family: AmaticB;
    color: white;
    font-size: 30px;
    outline: 0 ;
    
}

.addToCart:hover{
    background-color: rgb(153, 0, 0);
}


/* ** Cart Styling ** */

.cartDiv{
    background-image: linear-gradient(rgb(0, 105, 39), rgb(0, 80, 29)); 
    min-height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10vh;
}

.emptyCart{
    font-family: AmaticR;
    font-size: 20px; 
}

.orderAmont{
    background-color: rgba(2, 116, 7, 0);
    outline: 0;
    font-family: AmaticB;
    color: white;
    font-size: 20px;
    margin: 10px; 
    margin-bottom: 40px;
}

.orderAmont:hover{
    background-color: rgb(153, 0, 0);
}

.placeOrder{
    background-color: rgba(2, 116, 7, 0);
    outline: 0;
    font-family: AmaticB;
    color: white;
    font-size: 30px;
    margin: auto;
    margin-top: 10px;
    width: 300px;
    margin-bottom: 20px
}

.placeOrder:hover{
    background-color: rgb(153, 0, 0);
}

.rework{
    display: inline;
}

.reworkInput{
    width: 20px
}


/* ** Order Page Styling ** */

.orderDiv{
    background-image: linear-gradient(rgb(0, 105, 39), rgb(0, 80, 29));  
    min-height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10vh;
}

.reworkOrder{
    background-color: rgba(2, 116, 7, 0);
    outline: 0;
    font-family: AmaticB;
    color: white;
    font-size: 20px;
    margin: auto;
    margin-top: 3px;
    margin: 10px;
}

.reworkOrder:hover{
    background-color: rgb(153, 0, 0);
}

.orderForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInputs{
    margin-top: 5px;
}

.goToCheckout{
    background-color: rgba(2, 116, 7, 0);
    outline: 0;
    font-family: AmaticB;
    color: white;
    font-size: 30px;
    margin: auto;
    margin-top: 10px;
    width: 300px;
    margin-bottom: 20px;
}

.goToCheckout:hover{
   background-color: rgb(153, 0, 0);
}


/* ** Checkout Page Styling ** */

.checkoutDiv{
    background-image: linear-gradient(rgb(0, 105, 39), rgb(0, 80, 29));  
    min-height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center; 
    padding-top: 10vh;
}

.chekoutButtons{
    background-color: rgba(2, 116, 7, 0);
    outline: 0;
    font-family: AmaticB;
    color: white;
    font-size: 25px;
    margin: auto;
    margin: 10px;
}

.chekoutButtons:hover{
    background-color: rgb(153, 0, 0);
}


/* ** Order Placed Page Styling ** */

.orderPlacedDiv{
    background-image: linear-gradient(rgb(0, 105, 39), rgb(0, 80, 29));  
    min-height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10vh;
}

.goHome{
    color: rgb(49, 212, 0)
}

@media only screen and (max-width: 600px){
   
    
    /* ** Nav Bar ** */
    
    .logo{
        font-size: 30px
    }

    .contact{
        display: flex;
        flex-direction: column;
    }
    
    .contactInfo{
        margin-left: 35px;
    }
    
    .linkDiv{
        display: none;
    }

    .hamburger{
        display: unset;
        color: white;
        font-size: 20px;
        padding-right: 25px;
    }


    /* ** Home Page ** */
    
    img { 
        height: 40vh;
    }

    .carousel {
        width: 100vw; 
    }
    
    .menuSorter{
        flex-direction: column;
    }

    .formInstruct{
        margin-top: 15px;
    }

    .sizePiont{
        transform: rotate(-25deg)
    }

    .menuGrid{
        display: unset;
    }

    .mappedDiv{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 15px;
    }
    
    .mappedTitle{
        margin-top: 20px;
        width: auto;
        margin-left: 0;
    }

    .pizzaImg{
        margin-left: 0;
    }

    .mappedDescription{
        margin-top: 20px;
        margin-left: 20px;
        text-align: center;
    }


    /* ** Menu Pager ** */

    .mappedTitle{
        text-align: center;
        margin-top: 35px;
    }

    .mappedDescription{
        margin: auto;
        margin-top: 20px;
        max-width: 60vw;
    }

    .mappedSize{
        margin-left: unset
    }

    .sizeSortDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sortButton{
        margin: 5px;
    }

    .pizzaImg{
        margin-bottom: 0
    }

    .menuOrderButton{
        display: unset;
    }

    .mobileCart{
        display: unset;
        font-size: 20px;
        color: white;
        text-decoration: none;
    }

    h6{
        display: unset
    }
}