/* ** Styling For All Pages ** */

*{
    margin: 0
}

img { 
    height: 50vh;
    width: 100%
}

h1{
    font-size: 60px;
    font-family: AmaticB;
}

p, h2{
    font-size: 25px;
    font-family: AmaticR;
}


/* ** Inported fonts ** */

@font-face{
    font-family: AmaticB;
    src: url(./fonts/AmaticSC-Bold.ttf);
}

@font-face{
    font-family: AmaticR;
    src: url(./fonts/AmaticSC-Regular.ttf)
}

@font-face{
    font-family: AmaranthI;
    src: url(./fonts/Amaranth-RegularItalic.ttf)
}

/* ** dropDown Styling ** */

.dropDown-false{
    height: 150px;
    background-color: rgb(148, 1, 1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    width: 100vw;
    color: white;
    top: -200px;
    transition: all
}

.dropDown-true{
    height: 150px;
    background-color: rgb(148, 1, 1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    width: 100vw;
    color: white;
    transition: all
}

.dropLink{
    text-decoration: none;
    margin-right: 35px;
    color: rgb(255, 255, 255);
}

/* ** Nav Bar Styling ** */

nav{
    background-image: linear-gradient(rgb(218, 0, 0), rgb(90, 0, 0));
    margin-bottom: 3px;
    box-shadow: 0 3px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 15vh;
    z-index: 100;
    min-width: 375px;
    text-shadow: 2px 3px black;
    font-family: AmaticB;
}

.contact{
    display: flex;
    color: rgb(255, 255, 255);
}

.contactInfo{
    margin-left: 35px;
}

.linkDiv{
    text-decoration: none;
    margin-right: 35px;
    color: rgb(255, 255, 255);
}

.hamburger{
    display: none;
}


/* ** Home Page Styling ** */

.homeDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    height: 85vh;
    background-image: linear-gradient(rgb(0, 150, 55), rgb(1, 43, 16));
    color: rgb(255, 255, 255);
    min-width: 373px;
    overflow: scroll;
    font-family: AmaticR
}

.carouseldiv {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.863)
}

.carousel {
    width: 60vw; 
}

.homeText{
    margin: 20px;
}


/* ** Menu styling ** */

.menuDiv{
    background-image: linear-gradient(rgb(0, 105, 39), rgb(0, 80, 29));
    color: white;
}

.menuSorter{
    display: flex;
    justify-content: space-evenly; 
    padding-top: 10px;
    text-align: center;
}

.menueInstruct{
    margin-top: 11px;
    font-family: AmaticB;
}

.sizePiont{
    transform: rotate(-135deg)
}

.sortButton{
    background-color: rgba(1, 100, 37, 0); 
    border: 0;
    color: white;
    font-family: AmaticB;
    font-size: 20px;
    outline: 0 
}

.sortButton:hover{
    background-color: rgb(153, 0, 0);
}

.formInstruct{
    font-family: AmaticB;
}

.menuInput{
    width: 61px;
    margin-right: 10px;
    text-align: right;
    direction: rtl important;
}

.bugetButton{
    background-color: rgb(0, 104, 38);;
    border: 0;
    color: white;
    font-family: AmaticB;
    font-size: 17px;
    outline: 0 
}

.bugetButton:hover{
    background-color: rgb(153, 0, 0);
}

.menuGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr))
}


.mappedTitle{
    text-align: center;
    margin-top: 20px;
    width: 300px;
    margin-left: 25px;
}

.mappedDiv{
    display: flex;
}

.pizzaImg{
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.mappedDescription{
    margin-top: 50px;
    margin-left: 25px;
}

.mappedSize{
    margin-top: 20px;
    margin-left: 25px;
    font-family: AmaranthI;
}

.orderButton{
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgba(0, 104, 38, 0); 
    border: 0;
    font-family: AmaticB;
    color: white;
    font-size: 20px;
    outline: 0 
}

.orderButton:hover{
    background-color: rgb(153, 0, 0);
}

.spacerText{
    font-family: AmaticB;
    font-size: 20px;
}

.addToCart{
    margin-top: 20px;
    margin-left: 3px;
    background-color: rgba(0, 104, 38, 0); 
    border: 0;
    font-family: AmaticB;
    color: white;
    font-size: 20px;
    outline: 0 
}

.addToCart:hover{
    background-color: rgb(153, 0, 0);
}


/*   not set up for mobile yet  */
/* ** Cart Styling ** */

.cartDiv{
    background-image: linear-gradient(rgb(0, 105, 39), rgb(0, 80, 29)); 
    height: 85vh;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.emptyCart{
    font-family: AmaticR;
    font-size: 20px; 
}

.orderAmont{
    background-color: rgba(2, 116, 7, 0);
    border: none;
    outline: 0;
    font-family: AmaticB;
    color: white;
    font-size: 20px;
    margin-top: 10px; 
}

.orderAmont:hover{
    background-color: rgb(153, 0, 0);
}

.placeOrder{
    background-color: rgba(2, 116, 7, 0);
    border: none;
    outline: 0;
    font-family: AmaticB;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.placeOrder:hover{
    background-color: rgb(153, 0, 0);
}

@media only screen and (max-width: 600px){
    
    /* ** Nav Bar ** */

    .contact{
        display: flex;
        flex-direction: column;
    }
    
    .contactInfo{
        margin-left: 35px;
    }
    
    .linkDiv{
        display: none;
    }

    .hamburger{
        display: unset;
        color: white;
        font-size: 30px;
        margin-right: 25px;
    }


    /* ** Home Page ** */
    
    img { 
        height: 40vh;
    }

    .carousel {
        width: 100vw; 
    }
    
    .menuSorter{
        flex-direction: column;
    }

    .formInstruct{
        margin-top: 15px;
    }

    .sizePiont{
        transform: rotate(-25deg)
    }

    .menuGrid{
        display: unset;
    }

    .mappedDiv{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 15px;
    }
    
    .mappedTitle{
        margin-top: 20px;
        width: auto;
        margin-left: 0;
    }

    .pizzaImg{
        margin-left: 0;
    }

    .mappedDescription{
        margin-top: 20px;
        margin-left: 20px;
    }
}

