*{
    margin: 0
}

nav{
    background-color: rgb(171, 8, 24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

.contact{
    display: flex;
    color: rgb(255, 255, 255);
}

.linkDiv{
    text-decoration: none;
    margin-right: 35px;
    color: rgb(255, 255, 255);
}

.contactInfo{
    margin-left: 35px;
}

.homeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 85vh;
    background-color: rgba(47, 138, 43, 0.836);
    color: rgb(255, 255, 255);
}